<%- include('header'); -%>
<!-- Main News Slider Start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 px-0">
            <div class="owl-carousel main-carousel position-relative">
                <% for(var i=0;i<3;i++){ %>
                <div class="position-relative overflow-hidden" style="height: 500px;">
                    <img class="img-fluid h-100"
                         src="/media/<%= all_posts[i].img_file %>"
                         style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-2">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                               href=""><%= all_posts[i].category %></a>
                            <a class="text-white" href=""><%= all_posts[i].posted_on %></a>
                        </div>
                        <a class="h2 m-0 text-white text-uppercase font-weight-bold"
                           href="/blogpost/<%= all_posts[i].slug %>"><%= all_posts[i].title %></a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<!-- Main News Slider End -->
<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">Latest Posts</h4>
                        </div>
                    </div>
                    <% for(var i=0;i<all_posts.length;i++){ %>
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="w-100"
                                 src="/media/<%= all_posts[i].img_file %>"
                                 height="243"
                                 style="object-fit: cover;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                       href=""><%= all_posts[i].category %></a>
                                    <a class="text-body" href=""><small><%= all_posts[i].posted_on %></small></a>
                                </div>
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold"
                                   href="/blogpost/<%= all_posts[i].slug %>"><%= all_posts[i].title.substring(0,80) %></a>
                                <p class="m-0">
                                    <%= all_posts[i].content.substring(0,130) %><a href="/blogpost/<%= all_posts[i].slug %>">... read more</a>
                                </p>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                    <small><a href=""><%= all_posts[i].author %></a></small>
                                </div>
                                <!-- <div class="d-flex align-items-center">
                                    <small class="ml-3"><i class="far fa-eye mr-2"></i><%= all_posts[i].viewers %></small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Trending News</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <!-- {% for post in trending %} -->
                        <% for(var i=0;i<trending.length;i++){ %>
                            <div class="d-flex align-items-center bg-white mb-3"
                                 style="height: 110px;">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2">Trending</a>
                                        <a class="text-body"><small><%= trending[i].date %></small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold"
                                       href="<%= trending[i].readMore %>"
                                       target="_blank"><%= trending[i].title %></a>
                                </div>
                            </div>
                            <% } %>
                        <!-- {% endfor %} -->
                    </div>
                </div>
                <!-- Popular News End -->
                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <a href="?category=national"
                               class="btn btn-sm btn-outline-secondary m-1">National</a>
                            <a href="?category=business"
                               class="btn btn-sm btn-outline-secondary m-1">Business</a>
                            <a href="?category=sports" class="btn btn-sm btn-outline-secondary m-1">Sports</a>
                            <a href="?category=world" class="btn btn-sm btn-outline-secondary m-1">World</a>
                            <a href="?category=politics"
                               class="btn btn-sm btn-outline-secondary m-1">Politics</a>
                            <a href="?category=technology"
                               class="btn btn-sm btn-outline-secondary m-1">Technology</a>
                            <a href="?category=startup" class="btn btn-sm btn-outline-secondary m-1">Startup</a>
                            <a href="?category=entertainment"
                               class="btn btn-sm btn-outline-secondary m-1">Entertainment</a>
                            <a href="?category=miscellaneous"
                               class="btn btn-sm btn-outline-secondary m-1">Miscellaneous</a>
                            <a href="?category=science" class="btn btn-sm btn-outline-secondary m-1">Science</a>
                            <a href="?category=automobile"
                               class="btn btn-sm btn-outline-secondary m-1">Automobile</a>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->
<%- include('footer'); -%>
